.group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.group > p {
  font-weight: 600;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.card p {
  padding: 0.5rem;
  cursor: pointer;
}
