.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container img {
  width: 100px;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form label {
  margin-right: 0.5rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
