.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.tableContainer {
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.tableTitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.ageCategoryHeader {
  font-weight: bold;
  background-color: #f0f0f0;
  text-align: center;
}
