.link {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s;
}

.link:hover {
  color: #555;
}

.active {
  color: red;
}

.pending {
  color: yellow;
}
