.seedItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100px;
  width: 12rem;
  height: 3rem;
  padding: 0 1rem;
}

.seedItem input {
  text-align: center;
  width: 1.5rem;
}
