.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoContainer {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo {
  width: 70px;
  object-fit: cover;
}

.logoText {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(28, 21, 101);
  white-space: normal;
  text-align: center;
}

.navbarLinks {
  display: flex;
  gap: 1.5rem;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
}

.navbarLinks.open {
  max-height: 500px; /* Adjust this value based on your menu's max height */
  opacity: 1;
}

.userInfo {
  display: flex;
  align-items: center;
}

.adminName {
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
}

.btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.btn:hover {
  background-color: #ff1a1a;
}

.navbarLinks li {
  margin: 0 1rem;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .headerContainer {
    width: 100%;
  }

  .navbar {
    flex-direction: column;
  }

  .navbarLinks {
    flex-direction: column;
    width: 100%;
    background-color: #f8f8f8;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out,
      padding 0.3s ease-in-out;
  }

  .navbarLinks.open {
    max-height: 500px; /* Adjust this value based on your menu's max height */
    padding: 1rem 0;
    opacity: 1;
  }

  .hamburger {
    display: block;
  }
}
