.tableContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.tables {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.tables table {
  margin: 0;
}
