.usersTable {
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;
}

.usersTableCell {
  border: 1px solid #dddddd;
  padding: 8px;
}

.tableHeader {
  font-weight: 600;
}

.tableHeader > :not(:last-child) {
  margin-bottom: 0.5rem;
}

.ageCategoryHeader {
  font-weight: bold;
  background-color: #f0f0f0;
  text-align: center;
}
